.section-wrapper {
    margin: 20px 0;
    padding: 20px;
    background-color: #fbfbfb;
    border: #ccc;
}
.form-table {
    width: initial;
}
::placeholder {
    color: #aaaaaa;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #aaaaaa;
}
::-ms-input-placeholder {
    color: #aaaaaa;
}

.color-red {
    color: red;
}
