.astro_sb {
    margin: 0 !important;
    padding: 0;
    position:fixed;
    z-index:100;
}
.astro_sb.align-right {
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.astro_sb.align-left {
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.astro_sb.align-right-bottom {
    top: auto;
    bottom: 0;
    right: 0;
}
.astro_sb.align-left-bottom {
    top: auto;
    bottom: 0;
    left: 0;
}
.astro_sb.align-bottom {
    display: block;
    text-align: center;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
}
.astro_sb.align-bottom .astro_sb_inner {
    display: flex;
    justify-content: center;
}

.astro_sb.align-right-with-shadow,
.astro_sb.align-right-bottom-with-shadow {
    right: 1%;
    bottom: 1%;
}
.astro_sb.align-left-with-shadow,
.astro_sb.align-left-bottom-with-shadow {
    left: 1%;
    bottom: 1%;
}
.astro_sb.align-bottom-with-shadow {
    bottom: 1%;
}

.astro_sb a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    border-radius: 100px;
    border-color: rgba(0,0,0, 0.25);
    width: 50px;
    height: 50px; 
    box-shadow: 2px 2px 2px #999;
}
.astro_sb a i {
    color: #ffffff;
}
.astro_sb .phone-icon {
    background-color: green;
}
.astro_sb .envelope-icon {
    background-color: black;
}
.astro_sb .whatsapp-icon {
    background-color: #25d366;
}
.astro_sb .instagram-icon {
    background-color: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.astro_sb .facebook-icon {
    background-color: #4267B2;
}
.astro_sb .facebook_messenger-icon {
    background-color: #0084ff;
    background: linear-gradient(120deg, #0084ff, #FFFFFF);
}
.astro_sb .skype-icon {
    background-color: #009EDC;
}
.astro_sb .twitter-icon {
    background-color: #0f1419;
}
.astro_sb .youtube-icon {
    background-color: #FF0000;
}
.astro_sb .tiktok-icon {
    background-color: #010101;
}
.astro_sb .vimeo-icon {
    background-color: #19B7EA;
}
.astro_sb .pinterest-icon {
    background-color: #F0002A;
}